@charset "utf-8";
/*Overrides the page loader color*/
.pace .pace-activity {
	background: #dff0d8;
}

#ws_nav_wrap {
	width: 100%;
	background-color: #FFFFFF;
}
#ws_pghd_wrap {
	width: 100%;
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
}
#ws_logo {
	width: 19%;
	float: left;
}
#ws_tag {
	width: 80%;
	float: left;
	color: #000000;
	line-height: 84px;
	font-size: 21px;
	text-align: right;
	font-family: 'Open Sans', sans-serif;
}
#ws_masthd_wrap {
	width: 100%;
	height: 578px;
	/*background-position: center top;
	background-image: url(../img/tile_bgnd.jpg);
	background-repeat: repeat;*/
	background-color: #518900;
	
}
#ws_mast_txthd {
	width: 100%;
	color: #FFFFFF;
	font-size: 30px;
	line-height: 100px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.orng {
	color: #fdac4c;
}
#ws_mast_lcol {
	float: left;
	padding-left: 50px;
	width: 44%;
}
#ws_mast_rcol {
	width: 30%;
	float: left;
}
#ws_mast_txt01 {
	width: 100%;
	margin-top: 35px;
	margin-bottom: 35px;
	font-family: 'Open Sans', sans-serif;
	font-size: 65px;
	line-height: 65px;
	color: #FFFFFF;
}
.blue {
	color: #0381d6;
}
.ws_mast_loantxt {
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
	font-size: 30px;
	line-height: 30px;
	margin-top: 100px;
}
.ws_row {
	width: 100%;
	float: left;
	margin-bottom: 15px;
}
.ws_mast_smtxt {
	width: 11%;
	float: left;
	text-align: right;
	font-size: 18px;
	font-weight: 700;
	color: #535d70;
	line-height: 18px;
	font-family: 'Open Sans', sans-serif;
}
.ws_mast_lgtxt {
	width: 88%;
	float: left;
	color: #0381d6;
	font-size: 90px;
	line-height: 90px;
	font-family: 'Open Sans', sans-serif;
}
#ws_formboxp1 {
	width: 100%;
	margin-top: 35px;
	background-color: #385e00;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-radius: 10px;
}

/*#ws_formboxp1  label {
	color: #FFFFFF;
}*/
.white {
	color: #FFFFFF;
}
#ws_sec3_wrap {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f0f0f0;
	
}
#ws_sec3_txt01 {
	width: 100%;
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: #385E00;

}
#ws_sec4_wrap {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #F0F0F0;
}

.navbar-default .navbar-nav > li > a {
  color: #579301 !important;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #333333 !important;
}


#ws_navbar li {
	line-height: 84px !important;
	/*height: 84px !important;*/
	margin-top: 50px;
}


#ws_masthd_bgnd {
	height: 578px;
	background-image: url(../img/ltl_couple_p1.png);
	background-position: right bottom;
	background-repeat: no-repeat;
}
.ws_sec4_icon {
	max-width: 154px;
	margin-left: auto;
	margin-right: auto;
}
.ws_sec4_icontxt {
	width: 100%;
	color: #375D00;
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	margin-top: 10px;
	font-family: 'Open Sans', sans-serif;
}
#ws_footerwrap {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	
	background-color: #579301;
	border: none;
	
}
.panel-heading {
	background-color: #F0F0F0 !important;
}
#ws_auth {
	padding-top: 21px;
	padding-bottom: 20px;
}
#ws_sec1pg2_wrap {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	background-image: url(../img/sec1_subpg_bgnd.jpg);
	background-repeat: repeat-y;
	background-position: center top;
}
.ws_subpg_hd_txt {
	width: 100%;
	color: black;
	font-size: 24px;
	line-height: 24px;
	text-align: center;
	margin-bottom: 30px;
	font-family: 'Open Sans', sans-serif;
}
.ws_formbox_subpg {
	width: 100%;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 30px;
	padding-left: 15px;
	border-radius: 15px;
	background-color: #dee9fc;
}
.ws_formhd {
	width: 100%;
	color: #4d6796;
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	border-bottom: 1px solid #6cadd9;
	font-family: 'Open Sans', sans-serif;
	
}

#ws_formhd {
	width: 100%;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	margin-bottom: 10px;
}

#ws_coreg_box {
	width: 100%;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-radius: 10px;
	background-color: #FFFFFF;
	margin-top: 10px;
	clear: both;
	float: none;
	margin-bottom: 30px;
}
#ws_coreg_small {
	line-height: 12px;
	font-size: 11px;
	margin-top: 10px;
}
#ws_pg2_coltxt01 {
	width: 100%;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 50px;
}
#ws_pg2_coltxt02 {
	width: 100%;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 75px;
}
#ws_pg3_coltxt01 {
	width: 100%;
	margin-top: 10px;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 18px;
	font-family: 'Open Sans', sans-serif;
}
#ws_pg3_coltxt02 {
	width: 100%;
	margin-top: 30px;
	color: #ff8a00;
	font-size: 24px;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
}
#ws_pg3_coltxt03 {
	width: 100%;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 18px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 50px;
}
#ws_pg3_coltxt04 {
	width: 100%;
	margin-top: 50px;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 18px;
	font-family: 'Open Sans', sans-serif;
}
.ws_dob_col {
	width: 31%;
	margin-right: 2px;
	float: left;
}
.ws_subpg_txt {
	width: 100%;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 24px;
	text-align: center;
	margin-bottom: 30px;
	font-family: 'Open Sans', sans-serif;
}
.ws_checkimg {
	width: 68%;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
}
.ws_subpg_hd_txt01 {
	width: 100%;
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 10px;
	font-family: 'Open Sans', sans-serif;
	padding-left: 5px;
}
#ws_is_lcol {
	width: 77%;
	float: left;
	font-family: 'Open Sans', sans-serif;
}
#ws_is_rcol {
	width: 23%;
	float: left;
}
#ws_is_lcol_txt01 {
	width: 100%;
	color: #FFFFFF;
	font-size: 30px;
	line-height: 30px;
}
#ws_is_lcol_txt02 {
	width: 100%;
	color: #FFFFFF;
	font-size: 30px;
	line-height: 30px;
	margin-top: 50px;
}
#ws_is_lcol_txt03 {
	width: 100%;
	color: #FFFFFF;
	font-size: 24px;
	margin-top: 15px;
}
#ws_is_lcol_btnrow {
	width: 100%;
}
#ws_is_lcol_btn {
	width: 356px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}
#ws_is_lcol_txt03 ul {
	list-style-type: none;
}
#ws_pg5_txt01 {
	width: 100%;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 24px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
#ws_pg5_txt02 {
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	color: #fdac4c;
	font-weight: 700;
}


#ws_footlinks a {
	color: #FFFFFF;
}
#ws_pg5_txt03 {
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 24px;
	text-align: center;
}
#ws_pg5_txt04 {
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 24px;
	text-align: center;
}
#ws_pg5_txt05 {
	width: 100%;
	padding-top: 15px;
	padding-bottom: 5px;
	color: #fdac4c;
	font-size: 24px;
	line-height: 24px;
	text-align: center;
}
#ws_pg5_formrow {
	width: 100%;
}
#ws_pg5_ddl {
	width: 21%;
	margin-left: auto;
	margin-right: auto;
}
#ws_pg5_btnrow {
	width: 100%;
}
#ws_pg5_btn {
	width: 21%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	text-align: center;
}
#ws_navspace {
	width: 100%;
	height: 35px;
}
#pg5 {
	background-color: #dee9fc;
}
.lgtxt {
	font-size: 36px;
	line-height: 36px;
}
.ckbox label {
	display: inline;
}
#mid_resulty {
	float: left;
	display: block;
	width: 40%;
}
#mid_resultm {
	float: left;
	display: block;
	width: 40%;
}
.input-group {
	width: 100%;
}
#mid {
	border-radius: 4px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	font-size: 14px;
}
#birthdate {
	border-radius: 4px;
}
#poptext {
	width: 100%;
	text-align: center;
	font-size: 18px;
	line-height: 18px;
	margin-top: 35px;
}
#secPhone {
	height: 40px;
	font-size: 18px;
}
.poptextlg {
	font-size: 24px;
	line-height: 24px;
}
.poprow {
	width: 100%;
	text-align: center;
}
.wrapper {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
}
#popfield {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}


.ltl_section_block {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid #D0D0D0;
	float: left;
	clear: both;
}
.ltl_col_text {
	width: 70%;
	float: left;
	clear: none;
}
.ltl_col_img {
	width: 30%;
	float: left;
	clear: none;
	text-align: center;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
}
.ltl_col_text_hd {
	width: 100%;
	font-size: 24px;
	padding-bottom: 15px;
	font-family: 'Open Sans', sans-serif;
}
.ltl_col_text_subhd {
	width: 100%;
	padding-bottom: 15px;
	font-size: 18px;
	line-height: 20px;
	font-family: 'Open Sans', sans-serif;
}
.ltl_col_text_body {
	width: 100%;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}
.ltl_cta_icon {
	width: 6%;
	float: left;
	clear: none;
}
.ltl_cta_txt {
	width: 60%;
	float: left;
	clear: none;
	text-align: center;
	font-size: 32px;
	color: #274100;
	line-height: 90px;
	font-family: 'Open Sans', sans-serif;
}
.ltl_cta_btn {
	width: 33%;
	float: left;
	clear: none;
	text-align: center;
	padding-top: 20px;
}
.ltl_txtbox {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border: 1px solid #CFCFCF;
	border-radius: 5px;
	background-color: #FFFFFF;
	min-height: 125px;
}
.ltl_txtbox_hd {
	width: 100%;
	padding-bottom: 15px;
	font-size: 24px;
	line-height: 24px;
	text-align: center;
	color: #579301;
	font-family: 'Open Sans', sans-serif;
}
.ltl_txtbox_body {
	width: 100%;
	padding-bottom: 15px;
	font-size: 14px;
	line-height: 16px;
	font-family: 'Open Sans', sans-serif;
}
#ltl_tagline {
	color: #579301 !important;
	font-size: 24px;
	padding-top: 30px;
	padding-bottom: 30px;
	font-family: 'Open Sans', sans-serif;
	float: left;
	clear: both;
	width: 100%;
}

/*input, select {
	width: 80% !important;	
}*/

@media screen and (max-width:768px){
#ws_tag {
	font-size: 14px;
	line-height: 60px;
}
#ws_mast_txt01 {

	font-size: 40px;
	line-height: 42px;
}
#ws_mast_lcol {
	padding-left: 1px;
	width: 50%;
}
#ws_mast_rcol {
	width: 50%;
}
.ws_mast_loantxt {
	font-size: 24px;
	line-height: 24px;
}
.ws_mast_smtxt {
	font-size: 14px;
}
.ws_mast_lgtxt {
	font-size: 70px;
	line-height: 70px;
}
#ws_sec3_txt01 {
	font-size: 18px;
}
.ws_sec4_icontxt {
	font-size: 18px;
	line-height: 18px;
}
#ws_is_lcol_txt01 {
	font-size: 24px;
	line-height: 24px;
}
#ws_is_lcol_txt02 {
	font-size: 24px;
	line-height: 24px;
}
#ws_is_lcol_txt03 {
	font-size: 18px;
}
#ws_is_rcol {
	padding-top: 100px;
}
#ws_mast_txthd {
	font-size: 24px;
}
#ws_pg2_coltxt02 {
	margin-top: 35px;
}



}

@media screen and (max-width:480px){
#ws_logo {
	width: 223px;
	margin-left: auto;
	margin-right: auto;
	float: none;
}
#ws_tag {
	width: 100%;
	float: none;
	line-height: 14px;
	font-size: 14px;
	text-align: center;
}
#ws_masthd_wrap {
	height: auto;
	background-image: url(../img/mob_bgnd.jpg);
	background-position: center top;
}
#ws_mast_txthd {
	font-size: 24px;
	line-height: 24px;
	height: 150px;
	padding-top: 50px;
}
#ws_mast_lcol {
	width: 100%;
	float: none;
}
#ws_mast_rcol {
	width: 100%;
	float: none;
}
.ws_sec4_icontxt {
	margin-bottom: 20px;
}
.ws_subpg_hd_txt {
	font-size: 18px;
	line-height: 18px;
}
#ws_pg2_coltxt01 {
	margin-top: 1px;
	text-align: center;
	font-size: 18px;
	line-height: 18px;
}
#ws_pg2_coltxt02 {
	margin-top: 30px;
	text-align: center;
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 30px;
}
#ws_sec1pg2_wrap {
	height: auto;
	background-repeat: repeat-y;
}
.ws_formhd {
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 15px;
}
#ws_pg3_coltxt04 {
	margin-bottom: 30px;
}
.ws_subpg_txt {
	font-size: 18px;
	line-height: 18px;
}
.ws_checkimg {
	width: 100%;
}
#ws_is_rcol {
	display: none;
}
#ws_is_lcol {
	width: 100%;
}
#ws_is_lcol_txt01 {
	text-align: center;
	font-size: 18px;
	line-height: 18px;
}
#ws_is_lcol_txt02 {
	text-align: center;
	font-size: 18px;
	line-height: 18px;
}
#ws_is_lcol_btn {
	width: 250px;
}
#ws_is_lcol_txt03 {
	font-size: 16px;
}
#ws_pg5_txt01 {
	font-size: 18px;
	line-height: 18px;
}
#ws_pg5_txt02 {
	font-size: 24px;
	line-height: 24px;
}
#ws_pg5_txt03 {
	font-size: 18px;
	line-height: 18px;
}
#ws_pg5_txt04 {
	font-size: 18px;
	line-height: 18px;
}
#ws_pg5_txt05 {
	font-size: 18px;
	line-height: 18px;
}
#ws_pg5_ddl {
	width: 100%;
}
#ws_pg5_btn {
	width: 100%;
}

#ws_masthd_bgnd {
	height: auto;
}

.ltl_cta_icon {
	width: 70px;
	margin-left: auto;
	margin-right: auto;
	float: none;
}
.ltl_cta_txt {
	width: 100%;
	font-size: 16px;
	line-height: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.ltl_cta_btn {
	width: 100%;
}
#ltl_tagline {
	font-size: 16px;
	line-height: 18px;
}
.ltl_col_text {
	width: 100%;
	float: none;
	clear: none;
	text-align: center;
}
.ltl_col_img {
	width: 100%;
	float: none;
	clear: none;
}

}


iframe {
width : 100%;
}